In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [69]:
df = pd.read_csv('player_combined_2021_2022.csv')

In [70]:
df.shape

(2916, 137)

In [71]:
# df = df.drop(columns=['Unnamed: 0'])

In [72]:
df.head()

,Unnamed: 0,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Tkl,...,Foul_drawn,Offsides,Tackles_to_win_possession,PKwon,PKcon,OG,recovered_balls,Aerial_duel_won,Aerial_duel_lost,Aerial_duel_won%
0,0,Max Aarons,eng ENG,DF,Norwich City,eng Premier League,21,2000,32.0,64.0,...,52,1,44,0.0,2.0,1,154.0,13.0,50.0,20.6
1,1,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,33,1987,33.1,48.0,...,25,0,27,0.0,1.0,0,195.0,62.0,38.0,62.0
2,2,Salis Abdul Samed,gh GHA,MF,Clermont Foot,fr Ligue 1,21,2000,27.4,43.0,...,37,0,23,0.0,0.0,0,186.0,17.0,20.0,45.9
3,3,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,28,1993,32.8,110.0,...,69,1,60,0.0,0.0,0,264.0,11.0,7.0,61.1
4,4,Charles Abi,fr FRA,FW,Saint-Étienne,fr Ligue 1,21,2000,0.5,0.0,...,0,0,0,0.0,0.0,0,1.0,0.0,0.0,NaN

In [73]:
player_info = df.iloc[:,1:6]

In [74]:
player_info.head()

              Player   Nation Pos          Squad                Comp
0         Max Aarons  eng ENG  DF   Norwich City  eng Premier League
1   Yunis Abdelhamid   ma MAR  DF          Reims          fr Ligue 1
2  Salis Abdul Samed   gh GHA  MF  Clermont Foot          fr Ligue 1
3    Laurent Abergel   fr FRA  MF        Lorient          fr Ligue 1
4        Charles Abi   fr FRA  FW  Saint-Étienne          fr Ligue 1

In [75]:
num_df = df.drop(columns=['Player','Nation','Pos','Squad','Comp'])

In [76]:
num_df.shape

(2916, 132)

In [77]:
num_df.head()

,Unnamed: 0,Age,Born,90s,Tkl,TklWon,Tkl_Def_3rd,Tkl_Mid_3rd,Tkl_Att_3rd,Dribbler_Tkl,...,Foul_drawn,Offsides,Tackles_to_win_possession,PKwon,PKcon,OG,recovered_balls,Aerial_duel_won,Aerial_duel_lost,Aerial_duel_won%
0,0,21,2000,32.0,64.0,44,49.0,15.0,0.0,37.0,...,52,1,44,0.0,2.0,1,154.0,13.0,50.0,20.6
1,1,33,1987,33.1,48.0,27,34.0,14.0,0.0,16.0,...,25,0,27,0.0,1.0,0,195.0,62.0,38.0,62.0
2,2,21,2000,27.4,43.0,23,25.0,16.0,2.0,20.0,...,37,0,23,0.0,0.0,0,186.0,17.0,20.0,45.9
3,3,28,1993,32.8,110.0,60,44.0,53.0,13.0,71.0,...,69,1,60,0.0,0.0,0,264.0,11.0,7.0,61.1
4,4,21,2000,0.5,0.0,0,0.0,0.0,0.0,0.0,...,0,0,0,0.0,0.0,0,1.0,0.0,0.0,NaN

In [78]:
stand_feature = num_df[['MP','Min','90s']]

In [79]:
stand_feature

      MP   Min   90s
0     34  2881  32.0
1     34  2983  33.1
2     31  2462  27.4
3     34  2956  32.8
4      1    45   0.5
...   ..   ...   ...
2911  36  2591  28.8
2912  35  2307  25.6
2913  36  2785  30.9
2914  33  2165  24.1
2915  12   671   7.5

[2916 rows x 3 columns]

In [80]:
num_df = num_df.drop(columns=['MP','Min','90s'])

In [81]:
num_df

,Unnamed: 0,Age,Born,Tkl,TklWon,Tkl_Def_3rd,Tkl_Mid_3rd,Tkl_Att_3rd,Dribbler_Tkl,Tkl_Att,...,Foul_drawn,Offsides,Tackles_to_win_possession,PKwon,PKcon,OG,recovered_balls,Aerial_duel_won,Aerial_duel_lost,Aerial_duel_won%
0,0,21,2000,64.0,44,49.0,15.0,0.0,37.0,55.0,...,52,1,44,0.0,2.0,1,154.0,13.0,50.0,20.6
1,1,33,1987,48.0,27,34.0,14.0,0.0,16.0,32.0,...,25,0,27,0.0,1.0,0,195.0,62.0,38.0,62.0
2,2,21,2000,43.0,23,25.0,16.0,2.0,20.0,57.0,...,37,0,23,0.0,0.0,0,186.0,17.0,20.0,45.9
3,3,28,1993,110.0,60,44.0,53.0,13.0,71.0,166.0,...,69,1,60,0.0,0.0,0,264.0,11.0,7.0,61.1
4,4,21,2000,0.0,0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0.0,0.0,0,1.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,2916,22,1999,52.0,25,19.0,30.0,3.0,22.0,44.0,...,21,3,25,0.0,0.0,0,139.0,63.0,24.0,72.4
2912,2917,23,1997,58.0,33,24.0,21.0,13.0,29.0,68.0,...,67,0,33,0.0,1.0,0,162.0,24.0,32.0,42.9
2913,2918,22,1998,49.0,21,6.0,24.0,19.0,22.0,61.0,...,20,3,21,0.0,2.0,0,162.0,14.0,23.0,37.8
2914,2919,31,1990,1.0,1,0.0,1.0,0.0,1.0,3.0,...,45,6,1,1.0,0.0,0,40.0,242.0,83.0,74.5
2915,2920,29,1992,13.0,10,7.0,1.0,5.0,5.0,13.0,...,14,2,10,0.0,0.0,0,34.0,3.0,5.0,37.5

In [82]:
defence_feature = num_df.iloc[:,3:19]

In [83]:
defence_feature = defence_feature.drop(columns=['Dribbled_past','Err','Tkl_Att_3rd'])

In [84]:
columns = num_df.columns

In [85]:
temp_df = num_df[['Tackles_to_win_possession','recovered_balls']]

In [86]:
defence_feature = pd.concat(objs=[defence_feature,temp_df],axis=1)

In [87]:
defence_feature

,Tkl,TklWon,Tkl_Def_3rd,Tkl_Mid_3rd,Dribbler_Tkl,Tkl_Att,Tkl%,Total_blocks,Shots_Blocked,Passes_Blocked,Int,Tkl+Int,Clr,Tackles_to_win_possession,recovered_balls
0,64.0,44,49.0,15.0,37.0,55.0,67.3,39.0,19.0,20.0,28,92.0,96.0,44,154.0
1,48.0,27,34.0,14.0,16.0,32.0,50.0,50.0,25.0,25.0,68,116.0,104.0,27,195.0
2,43.0,23,25.0,16.0,20.0,57.0,35.1,18.0,1.0,17.0,42,85.0,15.0,23,186.0
3,110.0,60,44.0,53.0,71.0,166.0,42.8,58.0,1.0,57.0,55,165.0,13.0,60,264.0
4,0.0,0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,2.0,0,0.0,0.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,52.0,25,19.0,30.0,22.0,44.0,50.0,30.0,13.0,17.0,49,101.0,48.0,25,139.0
2912,58.0,33,24.0,21.0,29.0,68.0,42.6,43.0,10.0,33.0,35,93.0,32.0,33,162.0
2913,49.0,21,6.0,24.0,22.0,61.0,36.1,18.0,1.0,17.0,11,60.0,11.0,21,162.0
2914,1.0,1,0.0,1.0,1.0,3.0,33.3,6.0,1.0,5.0,2,3.0,32.0,1,40.0
2915,13.0,10,7.0,1.0,5.0,13.0,38.5,7.0,1.0,6.0,4,17.0,1.0,10,34.0

In [88]:
num_df = num_df.drop(columns=defence_feature.columns)

In [89]:
num_df.head()

,Unnamed: 0,Age,Born,Tkl_Att_3rd,Dribbled_past,Err,Gls,Total_shots,SoT,SoT%,...,2CrdY,Foul_commited,Foul_drawn,Offsides,PKwon,PKcon,OG,Aerial_duel_won,Aerial_duel_lost,Aerial_duel_won%
0,0,21,2000,0.0,18.0,1.0,0,13,2,15.4,...,0,27,52,1,0.0,2.0,1,13.0,50.0,20.6
1,1,33,1987,0.0,16.0,0.0,2,18,6,33.3,...,0,39,25,0,0.0,1.0,0,62.0,38.0,62.0
2,2,21,2000,2.0,37.0,0.0,1,18,5,27.8,...,2,43,37,0,0.0,0.0,0,17.0,20.0,45.9
3,3,28,1993,13.0,95.0,0.0,0,29,7,24.1,...,0,41,69,1,0.0,0.0,0,11.0,7.0,61.1
4,4,21,2000,0.0,1.0,0.0,0,0,0,NaN,...,0,1,0,0,0.0,0.0,0,0.0,0.0,NaN

In [90]:
possession_featues_array = []
for i in num_df.columns:
    if 'Touches' in i:
        possession_featues_array.append(i)
    if 'Dribble' in i:
        possession_featues_array.append(i)

In [91]:
possession_featues_array

['Dribbled_past',
 'Touches',
 'Touches_def_penalty_area',
 'Touches_def_3rd',
 'Touches_mid_3rd',
 'Touches_att_3rd',
 'Touches_att_penalty_area',
 'Touches_live_ball',
 'Dribble_succ',
 'Dribble_att',
 'Dribble_succ%']

In [92]:
possession_featues = num_df[possession_featues_array]

In [93]:
possession_featues = possession_featues.drop(columns=['Dribbled_past'])

In [94]:
possession_featues

,Touches,Touches_def_penalty_area,Touches_def_3rd,Touches_mid_3rd,Touches_att_3rd,Touches_att_penalty_area,Touches_live_ball,Dribble_succ,Dribble_att,Dribble_succ%
0,1817.0,159.0,712.0,696.0,434.0,23.0,1817.0,34.0,68.0,50.0
1,1906.0,212.0,1012.0,839.0,84.0,24.0,1906.0,14.0,18.0,77.8
2,1943.0,39.0,562.0,1140.0,257.0,15.0,1943.0,26.0,41.0,63.4
3,2020.0,24.0,405.0,1286.0,358.0,14.0,2020.0,39.0,61.0,63.9
4,12.0,0.0,0.0,5.0,8.0,1.0,12.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2911,1745.0,108.0,447.0,1117.0,194.0,30.0,1745.0,17.0,24.0,70.8
2912,1269.0,63.0,290.0,572.0,433.0,58.0,1269.0,38.0,55.0,69.1
2913,1863.0,17.0,197.0,888.0,792.0,58.0,1863.0,25.0,46.0,54.3
2914,864.0,36.0,66.0,419.0,383.0,145.0,863.0,8.0,16.0,50.0
2915,304.0,9.0,42.0,133.0,135.0,24.0,304.0,18.0,29.0,62.1

In [95]:
num_df = num_df.drop(columns=possession_featues.columns)

In [96]:
num_df.head()

,Unnamed: 0,Age,Born,Tkl_Att_3rd,Dribbled_past,Err,Gls,Total_shots,SoT,SoT%,...,2CrdY,Foul_commited,Foul_drawn,Offsides,PKwon,PKcon,OG,Aerial_duel_won,Aerial_duel_lost,Aerial_duel_won%
0,0,21,2000,0.0,18.0,1.0,0,13,2,15.4,...,0,27,52,1,0.0,2.0,1,13.0,50.0,20.6
1,1,33,1987,0.0,16.0,0.0,2,18,6,33.3,...,0,39,25,0,0.0,1.0,0,62.0,38.0,62.0
2,2,21,2000,2.0,37.0,0.0,1,18,5,27.8,...,2,43,37,0,0.0,0.0,0,17.0,20.0,45.9
3,3,28,1993,13.0,95.0,0.0,0,29,7,24.1,...,0,41,69,1,0.0,0.0,0,11.0,7.0,61.1
4,4,21,2000,0.0,1.0,0.0,0,0,0,NaN,...,0,1,0,0,0.0,0.0,0,0.0,0.0,NaN

In [97]:
passing_feature_array = []
for i in num_df.columns:
    if 'pass' in i:
        passing_feature_array.append(i)
    if 'cross' in i:
        passing_feature_array.append(i)
    if 'Crs' in i:
        passing_feature_array.append(i)

In [98]:
passing_feature_array = passing_feature_array[4:]

In [99]:
passing_feature_array

['passes_cmp',
 'passes_att',
 'passes_cmp%',
 'Prg_pass_dist',
 'pass_5_15_cmp',
 'pass_5_15_att',
 'pass_5_15_cmp%',
 'pass_15_30_cmp',
 'pass_15_30_att',
 'pass_15_30_cmp%',
 'pass_30_cmp',
 'pass_30_att',
 'pass_30_cmp%',
 'direct_pass_to_shot',
 'pass_into_att_3rd',
 'pass_cmp_into_18_yards',
 'cross_cmp_into_18_yards',
 'prg_pass_opponent_area',
 'Live_ball_passes',
 'Dead_ball_passes',
 'FK_pass',
 'pass_betn_defender',
 'pass_40_yards',
 'Crs',
 'offiside_passes',
 'pass_blocked_by_opponent',
 'received_pass_successfully',
 'prog_pass_received']

In [100]:
passing_feature = num_df[passing_feature_array]

In [101]:
passing_feature = passing_feature.drop(columns=['pass_30_cmp','pass_30_att','pass_30_cmp%','FK_pass','offiside_passes','received_pass_successfully','pass_blocked_by_opponent'])

In [102]:
# passing_feature = pd.concat([passing_feature,num_df['Crs']],axis=1)

In [103]:
passing_feature

,passes_cmp,passes_att,passes_cmp%,Prg_pass_dist,pass_5_15_cmp,pass_5_15_att,pass_5_15_cmp%,pass_15_30_cmp,pass_15_30_att,pass_15_30_cmp%,...,pass_into_att_3rd,pass_cmp_into_18_yards,cross_cmp_into_18_yards,prg_pass_opponent_area,Live_ball_passes,Dead_ball_passes,pass_betn_defender,pass_40_yards,Crs,prog_pass_received
0,1107.0,1469.0,75.4,6133.0,645.0,713.0,90.5,383.0,511.0,75.0,...,50.0,37.0,9.0,86.0,1130.0,332.0,5.0,4.0,50,40.0
1,1284.0,1578.0,81.4,9586.0,415.0,469.0,88.5,715.0,787.0,90.9,...,95.0,7.0,0.0,96.0,1471.0,101.0,0.0,32.0,4,10.0
2,1535.0,1701.0,90.2,5456.0,748.0,805.0,92.9,655.0,699.0,93.7,...,87.0,13.0,1.0,80.0,1678.0,21.0,1.0,3.0,14,41.0
3,1341.0,1659.0,80.8,6845.0,605.0,678.0,89.2,535.0,620.0,86.3,...,147.0,23.0,9.0,126.0,1616.0,35.0,7.0,21.0,37,59.0
4,3.0,7.0,42.9,0.0,2.0,3.0,66.7,1.0,3.0,33.3,...,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,1245.0,1459.0,85.3,6373.0,581.0,641.0,90.6,511.0,577.0,88.6,...,131.0,9.0,0.0,100.0,1430.0,25.0,2.0,11.0,2,23.0
2912,702.0,901.0,77.9,2698.0,374.0,435.0,86.0,257.0,314.0,81.8,...,58.0,18.0,2.0,62.0,892.0,7.0,4.0,3.0,23,73.0
2913,1368.0,1633.0,83.8,5049.0,681.0,763.0,89.3,541.0,612.0,88.4,...,113.0,71.0,3.0,141.0,1490.0,136.0,19.0,9.0,59,113.0
2914,407.0,681.0,59.8,897.0,288.0,461.0,62.5,78.0,134.0,58.2,...,19.0,5.0,1.0,21.0,668.0,10.0,0.0,0.0,2,98.0
2915,179.0,224.0,79.9,765.0,107.0,125.0,85.6,58.0,68.0,85.3,...,14.0,16.0,0.0,25.0,215.0,9.0,2.0,1.0,0,32.0

In [104]:
num_df = num_df.drop(columns=passing_feature.columns)

In [105]:
num_df

,Unnamed: 0,Age,Born,Tkl_Att_3rd,Dribbled_past,Err,Gls,Total_shots,SoT,SoT%,...,2CrdY,Foul_commited,Foul_drawn,Offsides,PKwon,PKcon,OG,Aerial_duel_won,Aerial_duel_lost,Aerial_duel_won%
0,0,21,2000,0.0,18.0,1.0,0,13,2,15.4,...,0,27,52,1,0.0,2.0,1,13.0,50.0,20.6
1,1,33,1987,0.0,16.0,0.0,2,18,6,33.3,...,0,39,25,0,0.0,1.0,0,62.0,38.0,62.0
2,2,21,2000,2.0,37.0,0.0,1,18,5,27.8,...,2,43,37,0,0.0,0.0,0,17.0,20.0,45.9
3,3,28,1993,13.0,95.0,0.0,0,29,7,24.1,...,0,41,69,1,0.0,0.0,0,11.0,7.0,61.1
4,4,21,2000,0.0,1.0,0.0,0,0,0,NaN,...,0,1,0,0,0.0,0.0,0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,2916,22,1999,3.0,22.0,1.0,2,20,9,45.0,...,0,34,21,3,0.0,0.0,0,63.0,24.0,72.4
2912,2917,23,1997,13.0,39.0,1.0,6,47,17,36.2,...,0,41,67,0,0.0,1.0,0,24.0,32.0,42.9
2913,2918,22,1998,19.0,39.0,1.0,7,53,21,39.6,...,0,27,20,3,0.0,2.0,0,14.0,23.0,37.8
2914,2919,31,1990,0.0,2.0,0.0,5,49,15,30.6,...,0,24,45,6,1.0,0.0,0,242.0,83.0,74.5
2915,2920,29,1992,5.0,8.0,0.0,2,17,6,35.3,...,0,10,14,2,0.0,0.0,0,3.0,5.0,37.5

In [106]:
chance_creaton_array = ['SCA','SCA90','live_pass_to_shot','dead_pass_to_shot','GCA','GCA90','live_pass_to_goal','dead_pass_to_goal','Ast','xAG','xA','Ast90','xAG90','Drib_to_shot','Drib_to_goal','Shot_to_shot','Shot_to_goal']

In [107]:
chance_creaton_features = num_df[chance_creaton_array]

In [108]:
chance_creaton_features

,SCA,SCA90,live_pass_to_shot,dead_pass_to_shot,GCA,GCA90,live_pass_to_goal,dead_pass_to_goal,Ast,xAG,xA,Ast90,xAG90,Drib_to_shot,Drib_to_goal,Shot_to_shot,Shot_to_goal
0,46.0,1.44,34.0,3.0,3.0,0.09,3.0,0.0,2,1.6,1.7,0.06,0.05,2.0,0.0,3.0,0.0
1,22.0,0.66,17.0,0.0,1.0,0.03,1.0,0.0,0,0.9,0.6,0.00,0.03,2.0,0.0,1.0,0.0
2,50.0,1.83,41.0,0.0,3.0,0.11,3.0,0.0,0,1.0,0.8,0.00,0.04,0.0,0.0,4.0,0.0
3,83.0,2.53,67.0,2.0,9.0,0.27,8.0,0.0,2,4.4,2.6,0.06,0.13,3.0,0.0,1.0,0.0
4,1.0,2.00,1.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,37.0,1.28,29.0,0.0,1.0,0.03,1.0,0.0,1,0.8,0.8,0.03,0.03,1.0,0.0,1.0,0.0
2912,77.0,3.00,57.0,0.0,6.0,0.23,4.0,0.0,2,1.8,1.2,0.08,0.07,4.0,0.0,8.0,2.0
2913,159.0,5.14,129.0,12.0,15.0,0.48,15.0,0.0,4,7.7,5.4,0.13,0.25,6.0,0.0,9.0,0.0
2914,57.0,2.37,43.0,0.0,8.0,0.33,5.0,0.0,4,3.5,3.0,0.17,0.15,1.0,0.0,9.0,2.0
2915,26.0,3.48,19.0,0.0,2.0,0.27,2.0,0.0,1,1.6,1.8,0.13,0.21,5.0,0.0,1.0,0.0

In [109]:
num_df = num_df.drop(columns=chance_creaton_features.columns)

In [110]:
num_df

,Unnamed: 0,Age,Born,Tkl_Att_3rd,Dribbled_past,Err,Gls,Total_shots,SoT,SoT%,...,2CrdY,Foul_commited,Foul_drawn,Offsides,PKwon,PKcon,OG,Aerial_duel_won,Aerial_duel_lost,Aerial_duel_won%
0,0,21,2000,0.0,18.0,1.0,0,13,2,15.4,...,0,27,52,1,0.0,2.0,1,13.0,50.0,20.6
1,1,33,1987,0.0,16.0,0.0,2,18,6,33.3,...,0,39,25,0,0.0,1.0,0,62.0,38.0,62.0
2,2,21,2000,2.0,37.0,0.0,1,18,5,27.8,...,2,43,37,0,0.0,0.0,0,17.0,20.0,45.9
3,3,28,1993,13.0,95.0,0.0,0,29,7,24.1,...,0,41,69,1,0.0,0.0,0,11.0,7.0,61.1
4,4,21,2000,0.0,1.0,0.0,0,0,0,NaN,...,0,1,0,0,0.0,0.0,0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,2916,22,1999,3.0,22.0,1.0,2,20,9,45.0,...,0,34,21,3,0.0,0.0,0,63.0,24.0,72.4
2912,2917,23,1997,13.0,39.0,1.0,6,47,17,36.2,...,0,41,67,0,0.0,1.0,0,24.0,32.0,42.9
2913,2918,22,1998,19.0,39.0,1.0,7,53,21,39.6,...,0,27,20,3,0.0,2.0,0,14.0,23.0,37.8
2914,2919,31,1990,0.0,2.0,0.0,5,49,15,30.6,...,0,24,45,6,1.0,0.0,0,242.0,83.0,74.5
2915,2920,29,1992,5.0,8.0,0.0,2,17,6,35.3,...,0,10,14,2,0.0,0.0,0,3.0,5.0,37.5

In [111]:
attacking_array = ['Gls','xG','Gls90','Total_shots','SoT','SoT%','G/Sh','G/SoT','npG-npxG','G-PK','npxG90','shots/90','SoT/90','avg_shot_distance','npxG','npxG/Sh','G-xG','Aerial_duel_won','Aerial_duel_lost','Aerial_duel_won%']

In [112]:
attacking_features = num_df[attacking_array]

In [113]:
attacking_features

,Gls,xG,Gls90,Total_shots,SoT,SoT%,G/Sh,G/SoT,npG-npxG,G-PK,npxG90,shots/90,SoT/90,avg_shot_distance,npxG,npxG/Sh,G-xG,Aerial_duel_won,Aerial_duel_lost,Aerial_duel_won%
0,0,0.9,0.00,13,2,15.4,0.00,0.00,-0.9,0,0.03,0.41,0.06,19.9,0.9,0.07,-0.9,13.0,50.0,20.6
1,2,1.5,0.06,18,6,33.3,0.11,0.33,0.5,2,0.04,0.54,0.18,18.3,1.5,0.08,0.5,62.0,38.0,62.0
2,1,1.1,0.04,18,5,27.8,0.06,0.20,-0.1,1,0.04,0.66,0.18,21.5,1.1,0.06,-0.1,17.0,20.0,45.9
3,0,2.1,0.00,29,7,24.1,0.00,0.00,-2.1,0,0.06,0.88,0.21,24.2,2.1,0.07,-2.1,11.0,7.0,61.1
4,0,0.0,0.00,0,0,NaN,NaN,NaN,0.0,0,0.00,0.00,0.00,NaN,0.0,NaN,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,2,2.3,0.07,20,9,45.0,0.10,0.22,-0.3,2,0.08,0.69,0.31,13.2,2.3,0.12,-0.3,63.0,24.0,72.4
2912,6,4.6,0.23,47,17,36.2,0.13,0.35,1.4,6,0.18,1.83,0.66,19.2,4.6,0.10,1.4,24.0,32.0,42.9
2913,7,5.2,0.23,53,21,39.6,0.13,0.33,1.8,7,0.17,1.71,0.68,21.0,5.2,0.10,1.8,14.0,23.0,37.8
2914,5,6.4,0.21,49,15,30.6,0.08,0.27,-1.6,4,0.23,2.04,0.62,11.1,5.6,0.11,-1.4,242.0,83.0,74.5
2915,2,2.1,0.27,17,6,35.3,0.12,0.33,-0.1,2,0.28,2.28,0.80,17.8,2.1,0.12,-0.1,3.0,5.0,37.5

In [114]:
num_df = num_df.drop(columns=attacking_features.columns)

<h1>THERE ARE NO GK FEATURE IN THE DATASET</h1>

In [115]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [116]:
def perform_PCA(df):
    df = df.dropna()
    df_std = StandardScaler().fit_transform(df)
    pca_5 = PCA(n_components=5, random_state=20)
    pca_5.fit(df_std)
    reduced_dimension = pca_5.transform(df_std)
    return reduced_dimension

In [117]:
reduced_def_features = perform_PCA(defence_feature)

In [118]:
red_poss_features = perform_PCA(possession_featues)

In [119]:
red_chance_features = perform_PCA(chance_creaton_features)

In [120]:
red_passing_features = perform_PCA(passing_feature)

In [121]:
red_attack_features = perform_PCA(attacking_features)

In [122]:
stand_feature

      MP   Min   90s
0     34  2881  32.0
1     34  2983  33.1
2     31  2462  27.4
3     34  2956  32.8
4      1    45   0.5
...   ..   ...   ...
2911  36  2591  28.8
2912  35  2307  25.6
2913  36  2785  30.9
2914  33  2165  24.1
2915  12   671   7.5

[2916 rows x 3 columns]

In [123]:
player_info

                 Player   Nation    Pos          Squad                Comp
0            Max Aarons  eng ENG     DF   Norwich City  eng Premier League
1      Yunis Abdelhamid   ma MAR     DF          Reims          fr Ligue 1
2     Salis Abdul Samed   gh GHA     MF  Clermont Foot          fr Ligue 1
3       Laurent Abergel   fr FRA     MF        Lorient          fr Ligue 1
4           Charles Abi   fr FRA     FW  Saint-Étienne          fr Ligue 1
...                 ...      ...    ...            ...                 ...
2911   Martín Zubimendi   es ESP     MF  Real Sociedad          es La Liga
2912   Szymon Żurkowski   pl POL     MF         Empoli          it Serie A
2913    Martin Ødegaard   no NOR  MF,FW        Arsenal  eng Premier League
2914        Milan Đurić   ba BIH     FW    Salernitana          it Serie A
2915      Filip Đuričić   rs SRB  MF,FW       Sassuolo          it Serie A

[2916 rows x 5 columns]